@media screen and (min-width:768px) and (max-width:1023px)
{
   .header{
        background-image: url("./home-bg.jpg");
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    [class="a"]{
        font-size: 30px;
        color:white;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    [class="b"]{
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    
    #a{
        border: 2px solid rgb(144, 36, 36); 
        height: 5%;
        width: 20%;
        padding: 6%;
        margin-left: 300px;
        color: brown;
        font-weight: 200px;
        letter-spacing: 5px;
    }
    
    #b{
        border: 2px solid white; 
        height: 10%;
        width: 30%;
        margin-left: 300px;
        text-align: center;
        padding-top: 30px;
    } 
    #b:hover{
        cursor: pointer;
        background-color: rgb(128, 0, 107)
    }
    /* first page completed*/

    .content{
        background-color: rgb(69, 66, 66);
        height: 100Vh;
    }
    .image{
        height: 20%;
        margin-left: 90px;
    
    }

    #aaa{
        height: 20%;
        margin-top: 50px;
    }

    #bbb{
        height: 20%;
        margin-top: 50px;
    }
    
    #cc{
        font-size: 40px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    .dd{
        font-size: 20px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: -130px;
        margin-left: 100px;
    }
    
    .ee{
        font-size: 15px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-left: 200px;
    }
     
    /* second half completed */

    .content22{
        background-color: rgb(30, 27, 27);
        height: 50Vh;
    }
    
    .ff{
        font-size: 30px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    .gg{
        font-size: 20px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    /* second completed */
    
    .content33{
        background-color: rgb(69, 66, 66);
        height: 80Vh;
    }
    
    .hh{
        font-size: 30px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    .jj{
        height: 30%;
        width: 30%;
    }
    
    #jjj{
        height: 40%;
        width: 45%;
    }

     .kk{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;
        justify-content: center;
        align-content: center;
    } 
   
    /* third completed */

    .content44{ 
        background-color: rgb(30, 27, 27);
        height: 130Vh;
   }
   .ll{
       font-size: 50px;
       color:white;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-align: center;
       color: red;
   }

   .mm{
    margin-left: -550px;
   }

    .n{ 
        margin-top: -300px;
        font-size: 40px;
    }

    .nn{ 
        margin-top: 40px;
        font-size: 40px;
    }


 .nnn{
    margin-top: 70px;
    margin-left: 100px;
    font-size: 40px;
  }
    
   
   input{
    width: 500px;
    height: 60px;
    position: relative;
    left: 120px; 
    top:80px;

}

.te{
    width: 500px;
    height: 100px;
    position: relative;
    left: 120px; 
    top:100px;
}

.su{
    width: 200px;
    height: 50px;
    position: relative;
    left: 250px; 
    top:100px;
}

}