@media screen and (min-width:1024px) and (max-width:1439px)
{
   .header{
        background-image: url("./home-bg.jpg");
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    [class="a"]{
        font-size: 30px;
        color:white;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    [class="b"]{
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    
    #a{
        border: 2px solid rgb(144, 36, 36); 
        height: 5%;
        width: 15%;
        padding: 5%;
        margin-left: 300px;
        color: brown;
        font-weight: 500px;
        letter-spacing: 15px;
    }
    
    #b{
        border: 2px solid white; 
        height: 5%;
        width: 20%;
        margin-left: 400px;
        margin-top: 70px;
        text-align: center;

    }
    
    #b:hover{
        cursor: pointer;
        background-color: rgb(128, 0, 107);
    }

    /* first completed */

    .content{
        background-color: rgb(69, 66, 66);
        height: 100vh;
    }
    .image{
        height: 20%;
        margin-left: 200px;
    
    }

    #aaa{
        height: 20%;
        margin-top: 100px;
    }

    #bbb{
        height: 20%;
        margin-top: 50px;
    }
    
    #cc{
        font-size: 30px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: red;
    }
    
    .dd{
        font-size: 25px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: -150px;
        margin-left: 150px;
    }
    
    .ee{
        font-size: 20px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-left: 150px;
    }

    /* second half completed */

    .content22{
        background-color: rgb(30, 27, 27);
        height: 50Vh;
    }
    
    .ff{
        font-size: 30px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    .gg{
        font-size: 20px;
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

        /* second completed */

        .content33{
            background-color: rgb(69, 66, 66);
            height: 100Vh;
        }
        
        .hh{
            font-size: 30px;
            color:white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: red;
        }
        
        .jj{
            height: 30%;
            width: 30%;
        }
        
        #jjj{
            height: 50%;
            width: 45%;
        }
    
         .kk{
            display: flex;
            flex-wrap: wrap;
            gap: 20px 20px;
            justify-content: center;
            align-content: center;
        }  
        
       /* third completed */

       .content44{ 
        background-color: rgb(30, 27, 27);
        height: 120Vh;
   }
   .ll{
       font-size: 30px;
       color:white;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-align: center;
       color: red;
   }
   

   .mm{
    margin-left: -750px;
   }

 .n{ 
    margin-top: -350px;
    font-size: 30px;
  }

 .nn{ 
    margin-top: 120px;
    font-size: 30px;
  }
  

 .nnn{
    margin-top: 100px;
    margin-left: 250px;
    font-size: 30px;
  }
    
   
   input{
    width: 500px;
    height: 50px;
    position: relative;
    left: 400px; 
    top:0px;

  }

 .te{
    width: 500px;
    height: 100px;
    position: relative;
    left: 400px; 
    top:0px;
 }

 .su{
    width: 200px;
    height: 40px;
    position: relative;
    left: 600px; 
    top:0px;
    margin-left: -40px;
 }

}